
<body>

<script type="text/javascript" >
  $.backstretch("http://www.culturaca.com/wp-content/uploads/2013/06/super.jpg");
 </script>

<div>
	<h1>This looks like a job for Superman</h1>
</div>
</body>