html, body{
	height:100%;
	margin:0px;
}

.pagtres{
	background-color:black;
}

.batman{
	width:50%;
	height:80%; 
	float:left;
    background-image: url(/assets/batman2.jpg);
    background-size: 100% 100%;
}

.superman{
	width:50%;
	height:80%; 
	float:left;
    background-image: url(/assets/superman2.jpg);
    background-size: 100% 100%;
}